body {
  background-color: blanchedalmond;
  font-family: fantasy;
}
h1,
h2 {
  text-align: center;
}

h1 {
  color: black;
  font-size: 40px;
}

div {
  color: brown;
  font-size: 300px;
  text-align: center;
  bottom: 200px;
  left: 30%;
  position: fixed;
}

.button {
  left: 45%;
  bottom: 10px;
  position: fixed;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
